* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.flex {
  display: flex;
}

.flex-centered {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

#app-header {
  width: 100vw;
  height: 150px;
  background-color: #0AF;
  color: white;
  text-align: center;
}

.btn {
  margin: 5px 10px;
  width: 100px;
  height: 40px;
  font-size: 0.9rem;
  border-radius: 5px;
  border: 2px solid darkgreen;
}

.btn:hover {
  background-color: #3CF;
  color: white;
  transform: translateY(2px);
  font-weight: 700;
}

.boingy {
  animation: jiggly 4.5s linear 1s infinite;
}

/* Apparently there's no "pause between iterations," so the best way to do it for now is just have the MAIN animation happen during
  the first whatever X%, and have the rest of the % be dead space, nothing happening. Try it out!
*/
@keyframes jiggly {
  0% {
    transform: translateY(0%);
  }
  5% {
    transform: translateY(-20%);
  }
  10% {
    transform: translateY(5%);
  }
  15% {
    transform: translateY(0%);
  }
  100% {
    transform: translateY(0%);
  }
}